#navbar {
	position: fixed;
	top:10px;
	left:50%;
	margin-left:-400px;
}

#header {
	position: relative;
	top: 10px;
	background-color: lightblue;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
}

li {
	display: inline;
	border: 3px solid #ffffff;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 10px 10px;
	background-color: #cc0323
}

#container{
	border: 3px solid #000000;
  height: 1200px;
  background: lightblue;
}

#divxx {
  display: inline-block;
  top: 50px;
  left: 50px;
}

.title{
	border: 3px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	border-radius: 15px 15px 0px 0px;
	text-align: center;

}

.circle {
  background-color: green;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 5px dashed blue;
  margin: 50px;
}

.square {
  background-color: yellow;
  width: 100px;
  height: 100px;
  border: 5px dotted red;
  margin: 50px;
}

.triangle {
  color: magenta;
  width: 0px;
  height: 0px;
  border-left: 66.6px solid transparent;
  border-right: 66.6px solid transparent;
  border-bottom: 100px solid gray;
  margin: 50px;
}

a{
	text-decoration: none;
}

li:hover{
	border: 3px solid black;
	color: black;
	background-color: green;
}

/*a:first-child{
    color: #cdbe70;
}

a:nth-child(3){
    color: #ffc125;
}
*/
html{
	background-color: gray;
}
